html,body {
	/*
	padding:0;
	margin:0;
	overflow:hidden;
	*/
	height:100%;
	width:100%;
	margin:auto	
}

body {
	background-color:black;
	color:#574846; /*graubraun*/
	font-size:14px;
	overflow:hidden;
	font-family:Arial, Helvetica;
}

a {
	color:GhostWhite ; /*weisslich*/
	font-weight:bold;
	text-decoration:none;
}

a:hover{
	text-decoration:underline;
}
	  
#header {
	height:120px;
	background:black;
	color:#574846; /*graubraun*/
	margin:0;
	margin-top:2px;
	overflow:hidden;
	border-top: 1px solid #574846; /*graubraun*/;
}

#headerText{
	padding-top:5px;
	padding-left:25px;
	width:70%;
}

#titleImg{
	width:250px;
	/*float:left;*/
}

#subtitle {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	margin-top:5px;
	margin-bottom:2px;
	overflow: hidden;
	font-weight:normal;
	color:GhostWhite;
	text-align:left;
	float:left;
}

#logoArea{
	float:right;
	padding-top:10px;
	padding-right:25px;
	text-align:right;
	vertical-align: top;
}

#social{
	margin-bottom:20px;
}

#msLink{
	color:#574846; /*graubraun*/
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:13px;
	outline:none;
}

#logo{
	border:none;
	outline:none;
	background-color: GhostWhite;
}

#logoImg{
	border:none;
	outline:none;
}

#contentPane
{
	width:100%;
	margin:auto;
	overflow:visible;
	background-color:black;
	margin:0px;
	padding:0px;
	z-index:101;
	 border-top: 1px solid #574846; /*graubraun*/; 
	border-bottom: 1px solid #574846; /*graubraun*/; 
	padding-bottom:5px;
}
	  
#map {
	border:none;
	padding:0;
	height:100%;
	width:100%;
}
#heatLayer {
	border:none;
	padding:0;
	height:100%;
	width:100%;
}

#hoverInfo{
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	position:absolute;
	padding:5px;
	max-width:200px;
	background-color:GhostWhite; /*weisslich*/;
	border:#848484 solid 1px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-moz-box-shadow: 2px 2px 10px #333;
	-webkit-box-shadow: 2px 2px 10px #333;
	box-shadow: 2px 2px 10px #333;
	filter: progid: DXImageTransform.Microsoft.Shadow(strength = 2, direction = 135, color = '#333333');
	-ms-filter: "progid: DXImageTransform.Microsoft.Shadow(strength = 2, Direction = 135, Color = '#333333')";
	overflow:hidden;
	display:none;
	z-index:100;
}

#zoomToggle{
	position:absolute;
	left:15px;
	top:15px;
	width:32px;
	z-index:2;
	cursor:pointer;
	visibility:hidden;
}

/*
@media (min-width: 1024px) { 

  	#paneLeft {
		overflow:hidden;
		width:485px;
		background-color:black;
	}
	ul.tilelist {
	    width: 492px;
		padding-left:1px;
	    display:inline-block;
		overflow:auto;
		margin-top:0px;
		margin:auto;
	}
}

@media (min-width:768px) and (max-width: 1024px) { 
	*/
@media (min-width:768px) { 
	#paneLeft{
		overflow:hidden;
		width:325px;
		background-color:black;
	}
	ul.tilelist {
	    width: 325px;
		padding-left:1px;
	    display:inline-block;
		overflow:auto;
		margin-top:0px;
		margin:auto;
	}
}

@media (max-width: 768px) { 
	#paneLeft{
		overflow:hidden;
		width:180px;
		background-color:black;
	}
	ul.tilelist {
	    width: 180px;
		padding-left:1px;
	    display:inline-block;
		overflow:auto;
		margin-top:0px;
		margin:auto;
	}
}



ul.tilelist li {
    list-style-type: none;
    /*-moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000; */
    margin: 2px;
    width: 150px;
    height: 150px;
    float: left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	font-weight:bold;
	background-color:GhostWhite; /*weisslich*/
	cursor:pointer;
	position:relative;
}

ul.tilelist > a {
    display: block;
    position: relative
    text-decoration: none;
    color:#574846; /*graubraun*/>
    width: 98px;
    height: 75px;
}

ul.tilelist img {
    max-width:130px;
    max-height:100px;	
	margin:10px;
}

ul.tilelist p {
    margin: 0px;
    margin-left: -40px;
    margin-top: -10px;
}

ul.tilelist .footer {
	padding-left:10px;
	position:absolute;
	top:113px;
	left:0px;
}

ul.tilelist .num {
	width:16px;
	padding-top:1px;
	padding-bottom:1px;
	float:left;
	border:solid;
	border-width:thin;
	color:GhostWhite ; 
	font-size:11px;
	text-align:center;
}

ul.tilelist .blurb {
	width:110px;
	float:left;
	margin-left:4px;
	text-align:left;
}

.multiTip{
	border: 1px solid #444;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.esriPopup .titleButton.maximize {
	display:none;
}


.details {
	padding:20px;
	height:100%;
}

.details .title {
	color:#574846; /*graubraun*/
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	font-weight: bold;
}

.details hr {
	margin-top:5px;
	margin-bottom:10px;
}

.details .leftDiv {
	width:200px;
	float:left;
}

.details .pictureFrame {
	width:200px;
	height:150px;
}


.details img {
	max-width:200px;
	max-height:150px;
}

.details .rightDiv {
	width:400px;
	float:left;
	padding-left:20px;
	height:100%;
	overflow:auto;
}

.details .address {
	margin-top:10px;
	color:#574846; /*graubraun*/
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
}

.details a {
	color:ForestGreen; /*Waldgrün ;) */
	text-decoration:underline;
}

.detailsSubTitle{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight: bold;
	color:#574846; /*graubraun*/
}

.detailsList  p{
	margin-top: 1px;
	margin-bottom: 5px;
}

.detailsList{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#574846; /*graubraun*/
}

.tab {
	float:left;
	background-color:black;
	padding-top:4px;
	padding-left:20px;
	padding-right:10px;
	margin-top:6px;
	height:28px;
	/*width:150px; */
	margin-left:7px;
	color:#574846; /*graubraun*/
	cursor:pointer;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:16px;
}

.tab:hover {
	color:ForestGreen; /*Waldgrün ;) */
}

.tab-selected {
	color:ForestGreen; /*Waldgrün ;) */
	cursor:default;
}

.aboutDiv {
	color: GhostWhite; 
	font-family:Arial, Helvetica, sans-serif;
	font-weight:normal;	
	width:110px;
	float:left;
	margin-left:4px;
	margin-top: 5px;
	text-align:left;
}

.aboutDivHeader {
	color: ForestGreen; 
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;	
	width:110px;
	float:left;
	margin-left:4px;
	margin-top: 5px;
	text-align:left;
}


#bookmarksCon{
	position:absolute;
	width:160px !important;
	right:0px;
	z-index:100;
	display:none;
	margin-top:65px;
}

#bookmarksDiv{
	display:none;
	background:black;
	max-height:450px;
	overflow:auto;
	padding:10px;
	font-family:Arial, Helvetica, sans-serif;
}

#bookmarksDiv a {
	color: GhostWhite; /*graubraun*/
	cursor:pointer;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:normal;
}

#bookmarksToggle{
	position:relative;
	float:right;
	background:black;
	margin-top:6px;
	padding-top:5px;
	padding-bottom:5px;
	width:160px;
	.height:28px;
	cursor:pointer;
	z-index:100;
	color:GhostWhite; 
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
}

#bookmarksTogText{
	position:relative;
	margin:auto;
	margin-left:2px;
	.margin-top:0px;
	padding:5px;
	color:GhostWhite; 
	font-family:Arial, Helvetica, sans-serif;
}

.infoDescription{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
}



.infoWindowLink, .zoomToLink{
	color:ForestGreen; /*Waldgrün ;) */
	cursor:pointer;
	font-weight:bold;
}

.infoWindowLink:hover, .zoomToLink:hover {
	color:ForestGreen; /*Waldgrün ;) */
	text-decoration:underline;
}

.quartettInfoItem {
	/*float:left;*/
	width:250px;
	padding-top:6px;
	font-size:12px;
	font-weight: bold;
}

.quartettInfoItemValue {
	float:left;
	width:250px;
	padding-top:2px;
	padding-bottom:5px;
	font-size:12px;
}


#legendCon{
	position:absolute;
	vertical-align: bottom;
	width:160px !important;
	right:0px;
	z-index:10;
	margin-top:250px;
	background:GhostWhite ;
}

#legendTitle{
	padding:8px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
}


#legendPanel{
	padding-left:8px;
	background:GhostWhite ;
	overflow:auto;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
}

.esriLegendServiceLabel
{
	padding:0px;
	margin:0px;
}

.esriLegendLayerLabel
{
	display:none;
}

#bgMapToggleCon{
	position:absolute;
	vertical-align: bottom;
	width:100px !important;
	right:140px;
	z-index:10;
	margin-top:70px;
	background:transparent;
	display:none;
}
.mapBGIcon0 { background-image:url(../images/BasemapSW.png); width:50px; height:50px; border-width: 0px;}
.mapBGIcon1 { background-image:url(../images/BasemapSat.png); width:50px; height:50px; border-width: 0px; }

.dijitButtonContents{
	padding:0px;
	margin:0px;
}

.claro .dijitToggleButton .dijitButtonNode {
	padding:2px;
	background-color:#E7E7E7;
	border: 1px solid #E7E7E7;
	border-radius: 0px;
	/*padding: 2px 4px 4px 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
	background-color: #bcd8f4;
	background-repeat: repeat-x;
	background-image: -moz-linear-gradient(#ffffff 0px, rgba(255, 255, 255, 0) 3px, rgba(255, 255, 255, 0.75) 100%);
	background-image: -webkit-linear-gradient(#ffffff 0px, rgba(255, 255, 255, 0) 3px, rgba(255, 255, 255, 0.75) 100%);
	background-image: -o-linear-gradient(#ffffff 0px, rgba(255, 255, 255, 0) 3px, rgba(255, 255, 255, 0.75) 100%);
	background-image: linear-gradient(#ffffff 0px, rgba(255, 255, 255, 0) 3px, rgba(255, 255, 255, 0.75) 100%);
	background-color: #bcd8f4;
	border: 1px solid #759dc0;
	*/
	color: #000000;
	_background-image: none;
}

/* entfernt Gelb Orange border bei allen aktiven Control-Elementen, z.B. Button zum Wechseln der Hintergrundkarte */
.claro *
{
    outline: none;
}



